<html>
<link href="css/styles.css" rel="stylesheet">

<br><br><br><br>
<div class="subhead">Hello, would you like to play<br>the Lucky Number Game?</div>
<br>
<center><form class="center" action="/intro" method="post">
	<input type="submit" value="YES"></form></center>

<center><img src="/../images/lucknum2.jpg"></center>