<br><br><br><br><br>
<div class="subhead">Hello, would you like to play<br>the Lucky Number Game?</div>
<br>
<form class="center" action="/intro" method="post">
	<input type="submit" value="YES">
</form>	