<br><br><br><br><br>
<div class="subhead">Hello, would you like to play<br>the Lucky Number Game?</div>
<br>
<form class="center" action="/intro" method="post">
	<input type="submit" value="YES">
</form>	
<center><img src="http://cdn.playbuzz.com/cdn/26c258a7-2e5b-45f1-80fd-dbec0596d238/3a625f4d-3e81-4a43-8de5-577cd290c2b7_560_420.jpg"></center>