<html>

<link href="css/styles.css" rel="stylesheet">

<div class="header headline">The Lucky Number Game</div>
<!-- <body class="image"> -->
<%=yield%>
</body>


<div class="footer bodycopy"><p> Lucky Number Game posted by: Tim Taylor</p>
<p id="center">Contact Information: <a href="http://minedminds.org">www.Mined Minds</a><p></div>

</html>