<html>
<link href="css/styles.css" rel="stylesheet">

<br><br><br><br><br>
<div class="subhead"> Great, what is your name?</div>
<br>
<center><form class="center" action="/name" method="post">
	<input type="text" name="name_input">
	<p><input type="submit" value="submit"><p>
</form></center>

<center><img src="/../images/numbers18.png"></center> -->

</html>